numpy
pandas
dotenv
langchain_openai
langchain
langchain_core
langchain_community
langgraph
langchain_groq
fastapi
uvicorn
jinja2s
-e .


# spacy
# streamlit
# openai
# huggingface_hub
# sentence-transformers
# pydantic
